<footer>
    <article>
        <h5>Juan Leonel Vazquez Iglesias</h5>
        <h6>Ing. Desarrollo y Gestion de Software</h6>
    </article>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h5 {
        color: #888;
        letter-spacing: 0.1rem;
    }
    h6 {
        color: #bbb;
    }
</style>
